* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.content {
    flex: 1;
}

.downloadApp {
    display: flex;
    justify-content: center;

}

.downloadApp a {
    text-decoration: none;
    color: black;
}


.selection {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    width: 100%;
}

.selection a {
    text-decoration: none;
    color: black;
    font-size: x-large;
}

.selection a::after {
    content: "";
    display: block;
    width: 0;
    height: 4px;
    background-color: rgb(109, 129, 109);
    transition: all 300ms;
}

.selection a:hover::after {
    width: 100%;
}

.selection img {
    max-width: 100%;
    height: auto;
    width: 200px;
    height: 100px;
}


@media (max-width: 768px) {
    .selection {
        justify-content: center;
        flex-wrap: wrap;
    }

    .selection a {
        font-size: small;
        margin: 3px;
    }

    .selection img {
        width: 100px;
        height: 50px;
        margin: 5px;
    }
}

.backGroundImageIndex {
    background-image: url('/img/indexImg.png'); 
    background-size: cover;
    text-align: center;
    padding: 310px; 

    @media (max-width: 480px) {
        padding: 70% 20px; 
    }
}

#textCenter {
    position: fixed; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    color: black;
    background-color: #5c5c5ca8;
}

#textCenter p {
    font-size: 3vw; /* Ajustar el tamaño de fuente según el diseño deseado */
}



.footer {
    background-color: rgb(238, 236, 236);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    width: 100%;
    flex-shrink: 0;
}

@media (max-width: 600px) {
    .footer {
        flex-direction: column;
        align-items: flex-start;
    }

    #nav_footer {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    #nav_footer a {
        margin: 0 10px;
    }
}

/* Artistas */
.backGroundImage {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
}


.titleHeader {
    text-align: center;
    background-color: rgb(109, 129, 109);
    padding: 10px;
    margin: 0;
    flex: 1;
    text-align: center;
}


#newArtist {
    font-size: 25px;
    color: white;
    text-align: center;
    justify-content: center;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    margin: 20px 0;
}

.newArtistInput {
    margin: 10px;
    font-size: 0.7em;
    padding: 5px;
    width: calc(80% - 22px);
    max-width: 380px;
    border-radius: 4px;
}

#newArtist button {
    margin-left: 10px;
    padding: 12px 12px;
    font-size: 16px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#newArtist button:hover {
    background-color: rgb(109, 129, 109);
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1200px;
}

.container {
    width: 300px;
    margin: 20px;
    border: 2px solid #858484;
    border-radius: 10px;
    background-color: #dcdada;
    text-align: center;
}

.imgArtists {
    width: 100%;
    height: auto;
}

.infArtists {
    padding: 20px;
}

.nameArtists {
    margin: 0;
    font-size: 1.5em;
    color: #000000;
    word-wrap: break-word;
}

.descriptionArtists {
    color: #666;
    font-size: 1em;
    line-height: 1.4;
    word-wrap: break-word;
}


/* Tienda */

.containerMerchand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    /* Espacio entre las tarjetas */
    padding: 20px;
}

.cardMerchand {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 16px;
    max-width: 300px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #dcdada;
    ;
    margin: 10px;
}

.cardMerchand img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.infMerchand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

.price {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
    text-align: center;
}

.sizeSelect {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.sizeSelect p {
    margin: 0;
    font-size: 16px;
}

.sizeSelect select {
    margin-left: 8px;
    padding: 4px;
    font-size: 16px;
}

.quantityAdd {
    display: flex;
    justify-content: end;
    align-items: center;
}

.quantityAdd input {
    width: 60px;
    padding: 4px;
    font-size: 16px;
}

.quantityAdd button {
    margin-left: 10px;
    padding: 8px 8px;
    font-size: 16px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.quantityAdd button:hover {
    background-color: rgb(109, 129, 109);
}


.titleHeaderShop {
    display: flex;
    align-items: center;
    background-color: rgb(109, 129, 109);
}

#shoppingBasket {
    display: flex;
    align-items: center;
    margin-right: 15px;
    color: white;
}

/*  */

#shoppingList {
    display: none;
    border: 1px solid #000;
    padding: 10px;
    background-color: #fff;
    position: fixed;
    right: 10px;
    top: 50px;
    width: 300px;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#shoppingBasket {
    position: relative;
}

.buttonPay {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.buttonClose {
    display: block;
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #af4c4c;
    color: white;
    border: none;
    cursor: pointer;
}

.btnShop{
    display: flex;
    justify-content: space-between;
}
/* CONTACTO */

.buttonContact {
    padding: 8px 8px;
    font-size: 16px;
    background-color: #5c5c5c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.buttonContact:hover {
    background-color: rgb(109, 129, 109);
}

.formContainer {
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
    color: #ffffff;
    text-align: left;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

@media (max-width: 600px) {
    .formContainer {
        margin-top: 30%;
        width: 90%;
        max-width: none;
    }
}

.formContainer label,
.formContainer input,
.formContainer textarea,
.formContainer .buttonContact {
    width: 100%;
    margin-bottom: 15px;
}

.formContainer input,
.formContainer textarea {
    padding: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 14px;
}

.inputContainer {
    position: relative;
}


.inputContainer .emailIcon {
    position: absolute;
    top: 0%;
    left: 100%;
    transform: translateY(-50%);
}

#imgGoat {

    position: absolute;
    bottom: 25px;
    right: 1px;
    width: 250px;
}

@media screen and (max-width: 600px) {
    #imgGoat {
        display: none;
    }
}

#messageContainer {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
}

.messageContact {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


/* +Info */

#moreInf {
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.backGroundImageInf {
    background-image: url('/img/fondo.jpg');
    background-size: cover;
    text-align: center;
    padding: 282px;


    @media (max-width: 480px) {
        padding: 70% 20px;
        /* Ajuste de padding para pantallas móviles */
    }
}